

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;}



ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   width: 100%
}


p {
  margin: (20px, 15px);
  line-height: (28px/18px);
  font-weight: $font_weight-light;
  font-size: (18px);

}
